name: Lint

on:
  pull_request:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    name: Lint

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          check-latest: true
          node-version: lts/*

      - name: Install npm dependencies
        run: npm ci

      - name: Run lint
        run: npm run lint
